header {
  .page-title {
    display: none;

    @media (min-width: 425px) {
      display: block;
    }
  }
}

.global-action-button.global-action-button {
  right: 3vw;
  bottom: 3vh;
  z-index: 1000;
}
